<script setup lang="ts">
import { ref } from "vue";

const pastScroll = ref(false);
var scrollPos = window.scrollY;
document.addEventListener("scroll", function () {
  /*Apply classes for slide in bar*/
  scrollPos = window.scrollY;
  pastScroll.value = scrollPos > 10;
});

/*Toggle dropdown list*/
/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

// declare a ref to hold the element reference
// the name must match template ref value
const showMobileMenu = ref(false);

// Menu items
const menuItems = [
  {
    name: "Home",
    to: { name: "home" },
  },
  {
    name: "About",
    to: { name: "about" },
  },
];
</script>

<template>
  <nav
    id="header"
    :class="{ shadow: pastScroll }"
    class="fixed top-0 z-30 w-full px-5 font-bold text-black transition duration-500 transform bg-white"
  >
    <div
      class="container flex flex-wrap items-center justify-between w-full py-2 mx-auto mt-0"
    >
      <div class="flex items-center pl-4">
        <a
          class="text-2xl font-bold no-underline align-middle hover:no-underline lg:text-4xl"
          href="#"
        >
          <!--Icon from: http://www.potlabicons.com/ -->
          <img
            alt="Redunt Logo"
            class="inline w-12 md:w-20 animate-bounce-slow"
            src="@/assets/logo.png"
          />
          EDUNT
        </a>
      </div>
      <div class="block pr-4 lg:hidden">
        <button
          id="nav-toggle"
          class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline hover:scale-105"
          @click="showMobileMenu = !showMobileMenu"
        >
          <svg
            class="w-6 h-6 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        ref="navContent"
        :class="
          ([
            pastScroll
              ? ['bg-white', 'text-gray-800']
              : ['gradient', 'text-white', 'bg-gray-100'],
          ],
          { hidden: !showMobileMenu })
        "
        class="z-20 flex-grow w-full p-4 mt-2 lg:flex lg:items-center lg:w-auto lg:mt-0 lg:bg-transparent lg:p-0"
      >
        <ul class="items-center justify-end flex-1 list-reset lg:flex">
          <li v-for="item in menuItems" :key="item.name" class="mr-3">
            <router-link
              class="inline-block px-4 py-2 no-underline"
              :to="item.to"
              >{{ item.name }}</router-link
            >
          </li>
        </ul>
        <button
          class="px-8 py-4 mx-auto mt-4 font-bold text-white bg-gray-800 rounded-full shadow opacity-75 lg:mx-0 hover:underline lg:mt-0 focus:outline-none focus:shadow-outline hover:scale-105"
        >
          Action
        </button>
      </div>
    </div>
    <hr class="py-0 my-0 opacity-25" />
  </nav>
</template>

<style scss>
.router-link-active {
  @apply font-bold;
}
</style>
