<script setup lang="ts">
import { RouterView } from "vue-router";
import BaseNav from "@/components/Base/BaseNav.vue";
</script>

<template>
  <div>
    <header>
      <BaseNav />
    </header>

    <RouterView />
  </div>
</template>
